/* * {
  padding: 0;
  margin: 0;
} */
body {
  position: relative;
  background: rgb(51, 51, 51);
  color: azure;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
}

.avatar {
  display: block;
  margin: 0 auto;
  width: 200px;
  border-radius: 50%;
  box-shadow: 12px 9px 10px rgba(0, 0, 0, 0.5);
}
a {
  color: rgb(130, 216, 238);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: rgb(129, 10, 139);
}
h1 {
  text-align: center;
}
span {
  color: red;
}
.info p {
  color: royalblue;
  margin: 0;
}

.social {
  background: rgba(88, 88, 87, 0.404);
}
.container {
  position: relative;
  border: springgreen;
  max-width: 70%;
  margin: 0 auto;
}
table {
  min-width: 100%;
}
.grey {
  background: rgba(85, 85, 84, 0.726);
}

.card {
  padding: 5px 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  /* border: 1px solid red; */
}
.smoke {
  background-color: rgb(139, 136, 136);
  color: black;
}
